extends layout

block content
  h1 ID: #{bookinstance._id}

  p #[strong Title:]
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong Imprint:] #{bookinstance.imprint}

    p Do you really want to delete this Instance?

    form(method='POST' action='')
      div.form-group
        input#instanceid.form-control(type='hidden',name='id', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete